In [35]:
import pandas as pd 
import numpy as np

In [36]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_FIFA_World_Cup_finals')

In [37]:
type(df)

list

In [40]:
df = df[3]
df

,Year,Winners,Score,Runners-up,Venue,Location,Attendance,Ref.
0,1930,Uruguay,4–2,Argentina,Estadio Centenario,"Montevideo, Uruguay",68346.0,[7][8]
1,1934,Italy,2–1 (a.e.t.),Czechoslovakia,Stadio Nazionale PNF,"Rome, Italy",55000.0,[9][10]
2,1938,Italy,4–2,Hungary,Stade Olympique de Colombes,"Paris, France",45000.0,[11][12]
3,1950,Uruguay,2–1[n 3],Brazil,Maracanã Stadium,"Rio de Janeiro, Brazil",173850.0,[13][14]
4,1954,West Germany,3–2,Hungary,Wankdorf Stadium,"Bern, Switzerland",62500.0,[15][16]
5,1958,Brazil,5–2,Sweden,Råsunda Stadium,"Solna, Sweden",49737.0,[17][18]
6,1962,Brazil,3–1,Czechoslovakia,Estadio Nacional,"Santiago, Chile",68679.0,[19][20]
7,1966,England,4–2 (a.e.t.),West Germany,Wembley Stadium,"London, England",96924.0,[21][22]
8,1970,Brazil,4–1,Italy,Estadio Azteca,"Mexico City, Mexico",107412.0,[23][24]
9,1974,West Germany,2–1,Netherlands,Olympiastadion,"Munich, West Germany",78200.0,[25][26]
10,1978,Argentina,3–1 (a.e.t.),Netherlands,Estadio Monumental,"Buenos Aires, Argentina",71483.0,[27][28]
11,1982,Italy,3–1,West Germany,Santiago Bernabéu,"Madrid, Spain",90000.0,[29][30]
12,1986,Argentina,3–2,West Germany,Estadio Azteca,"Mexico City, Mexico",114600.0,[31][32]
13,1990,West Germany,1–0,Argentina,Stadio Olimpico,"Rome, Italy",73603.0,[33][34]
14,1994,Brazil,0–0 (a.e.t.) (3–2 pen.),Italy,Rose Bowl,"Pasadena, California, United States",94194.0,[35][36]
15,1998,France,3–0,Brazil,Stade de France,"Saint-Denis, France",80000.0,[37][38]
16,2002,Brazil,2–0,Germany,International Stadium,"Yokohama, Japan",69029.0,[39][40]
17,2006,Italy,1–1 (a.e.t.) (5–3 pen.),France,Olympiastadion,"Berlin, Germany",69000.0,[41][42]
18,2010,Spain,1–0 (a.e.t.),Netherlands,Soccer City,"Johannesburg, South Africa",84490.0,[43][44]
19,2014,Germany,1–0 (a.e.t.),Argentina,Maracanã Stadium,"Rio de Janeiro, Brazil",74738.0,[45][46]
20,2018,France,4–2,Croatia,Luzhniki Stadium,"Moscow, Russia",78011.0,[47][48]
21,2022,Argentina,3–3 (a.e.t.) (4–2 pen.),France,Lusail Stadium,"Lusail, Qatar",88966.0,[49]
22,2026,NaN,NaN,NaN,MetLife Stadium,"East Rutherford, New Jersey, United States",NaN,NaN

In [42]:
df2 = df
df2.tail()

,Year,Winners,Score,Runners-up,Venue,Location,Attendance,Ref.
18,2010,Spain,1–0 (a.e.t.),Netherlands,Soccer City,"Johannesburg, South Africa",84490.0,[43][44]
19,2014,Germany,1–0 (a.e.t.),Argentina,Maracanã Stadium,"Rio de Janeiro, Brazil",74738.0,[45][46]
20,2018,France,4–2,Croatia,Luzhniki Stadium,"Moscow, Russia",78011.0,[47][48]
21,2022,Argentina,3–3 (a.e.t.) (4–2 pen.),France,Lusail Stadium,"Lusail, Qatar",88966.0,[49]
22,2026,NaN,NaN,NaN,MetLife Stadium,"East Rutherford, New Jersey, United States",NaN,NaN

In [43]:
df.head()

,Year,Winners,Score,Runners-up,Venue,Location,Attendance,Ref.
0,1930,Uruguay,4–2,Argentina,Estadio Centenario,"Montevideo, Uruguay",68346.0,[7][8]
1,1934,Italy,2–1 (a.e.t.),Czechoslovakia,Stadio Nazionale PNF,"Rome, Italy",55000.0,[9][10]
2,1938,Italy,4–2,Hungary,Stade Olympique de Colombes,"Paris, France",45000.0,[11][12]
3,1950,Uruguay,2–1[n 3],Brazil,Maracanã Stadium,"Rio de Janeiro, Brazil",173850.0,[13][14]
4,1954,West Germany,3–2,Hungary,Wankdorf Stadium,"Bern, Switzerland",62500.0,[15][16]

In [44]:
df.tail()

,Year,Winners,Score,Runners-up,Venue,Location,Attendance,Ref.
18,2010,Spain,1–0 (a.e.t.),Netherlands,Soccer City,"Johannesburg, South Africa",84490.0,[43][44]
19,2014,Germany,1–0 (a.e.t.),Argentina,Maracanã Stadium,"Rio de Janeiro, Brazil",74738.0,[45][46]
20,2018,France,4–2,Croatia,Luzhniki Stadium,"Moscow, Russia",78011.0,[47][48]
21,2022,Argentina,3–3 (a.e.t.) (4–2 pen.),France,Lusail Stadium,"Lusail, Qatar",88966.0,[49]
22,2026,NaN,NaN,NaN,MetLife Stadium,"East Rutherford, New Jersey, United States",NaN,NaN

Referee column is not relevant, as the information is given in links. we have to drop it

In [45]:
df = df.drop(["Ref."], axis=1)
df

,Year,Winners,Score,Runners-up,Venue,Location,Attendance
0,1930,Uruguay,4–2,Argentina,Estadio Centenario,"Montevideo, Uruguay",68346.0
1,1934,Italy,2–1 (a.e.t.),Czechoslovakia,Stadio Nazionale PNF,"Rome, Italy",55000.0
2,1938,Italy,4–2,Hungary,Stade Olympique de Colombes,"Paris, France",45000.0
3,1950,Uruguay,2–1[n 3],Brazil,Maracanã Stadium,"Rio de Janeiro, Brazil",173850.0
4,1954,West Germany,3–2,Hungary,Wankdorf Stadium,"Bern, Switzerland",62500.0
5,1958,Brazil,5–2,Sweden,Råsunda Stadium,"Solna, Sweden",49737.0
6,1962,Brazil,3–1,Czechoslovakia,Estadio Nacional,"Santiago, Chile",68679.0
7,1966,England,4–2 (a.e.t.),West Germany,Wembley Stadium,"London, England",96924.0
8,1970,Brazil,4–1,Italy,Estadio Azteca,"Mexico City, Mexico",107412.0
9,1974,West Germany,2–1,Netherlands,Olympiastadion,"Munich, West Germany",78200.0
10,1978,Argentina,3–1 (a.e.t.),Netherlands,Estadio Monumental,"Buenos Aires, Argentina",71483.0
11,1982,Italy,3–1,West Germany,Santiago Bernabéu,"Madrid, Spain",90000.0
12,1986,Argentina,3–2,West Germany,Estadio Azteca,"Mexico City, Mexico",114600.0
13,1990,West Germany,1–0,Argentina,Stadio Olimpico,"Rome, Italy",73603.0
14,1994,Brazil,0–0 (a.e.t.) (3–2 pen.),Italy,Rose Bowl,"Pasadena, California, United States",94194.0
15,1998,France,3–0,Brazil,Stade de France,"Saint-Denis, France",80000.0
16,2002,Brazil,2–0,Germany,International Stadium,"Yokohama, Japan",69029.0
17,2006,Italy,1–1 (a.e.t.) (5–3 pen.),France,Olympiastadion,"Berlin, Germany",69000.0
18,2010,Spain,1–0 (a.e.t.),Netherlands,Soccer City,"Johannesburg, South Africa",84490.0
19,2014,Germany,1–0 (a.e.t.),Argentina,Maracanã Stadium,"Rio de Janeiro, Brazil",74738.0
20,2018,France,4–2,Croatia,Luzhniki Stadium,"Moscow, Russia",78011.0
21,2022,Argentina,3–3 (a.e.t.) (4–2 pen.),France,Lusail Stadium,"Lusail, Qatar",88966.0
22,2026,NaN,NaN,NaN,MetLife Stadium,"East Rutherford, New Jersey, United States",NaN

Information on row 22 is irreleevant as it is not complete

In [46]:
df.tail()

,Year,Winners,Score,Runners-up,Venue,Location,Attendance
18,2010,Spain,1–0 (a.e.t.),Netherlands,Soccer City,"Johannesburg, South Africa",84490.0
19,2014,Germany,1–0 (a.e.t.),Argentina,Maracanã Stadium,"Rio de Janeiro, Brazil",74738.0
20,2018,France,4–2,Croatia,Luzhniki Stadium,"Moscow, Russia",78011.0
21,2022,Argentina,3–3 (a.e.t.) (4–2 pen.),France,Lusail Stadium,"Lusail, Qatar",88966.0
22,2026,NaN,NaN,NaN,MetLife Stadium,"East Rutherford, New Jersey, United States",NaN

In [47]:
df = df[:22]
df.tail()

,Year,Winners,Score,Runners-up,Venue,Location,Attendance
17,2006,Italy,1–1 (a.e.t.) (5–3 pen.),France,Olympiastadion,"Berlin, Germany",69000.0
18,2010,Spain,1–0 (a.e.t.),Netherlands,Soccer City,"Johannesburg, South Africa",84490.0
19,2014,Germany,1–0 (a.e.t.),Argentina,Maracanã Stadium,"Rio de Janeiro, Brazil",74738.0
20,2018,France,4–2,Croatia,Luzhniki Stadium,"Moscow, Russia",78011.0
21,2022,Argentina,3–3 (a.e.t.) (4–2 pen.),France,Lusail Stadium,"Lusail, Qatar",88966.0

Venue and country that hosted many world cup finals.

In [48]:
df['Venue'].value_counts()

Venue
Olympiastadion                 2
Maracanã Stadium               2
Estadio Azteca                 2
Santiago Bernabéu              1
Luzhniki Stadium               1
Soccer City                    1
International Stadium          1
Stade de France                1
Rose Bowl                      1
Stadio Olimpico                1
Estadio Centenario             1
Estadio Monumental             1
Stadio Nazionale PNF           1
Wembley Stadium                1
Estadio Nacional               1
Råsunda Stadium                1
Wankdorf Stadium               1
Stade Olympique de Colombes    1
Lusail Stadium                 1
Name: count, dtype: int64

In [49]:
df[df['Venue'] == "Olympiastadion"]

,Year,Winners,Score,Runners-up,Venue,Location,Attendance
9,1974,West Germany,2–1,Netherlands,Olympiastadion,"Munich, West Germany",78200.0
17,2006,Italy,1–1 (a.e.t.) (5–3 pen.),France,Olympiastadion,"Berlin, Germany",69000.0

In [58]:
df[(df['Venue'] == "Olympiastadion") | (df['Venue'] == "Estadio Azteca")]

,Year,Winners,Score,Runners-up,Venue,Location,Attendance
8,1970,Brazil,4–1,Italy,Estadio Azteca,"Mexico City, Mexico",107412.0
9,1974,West Germany,2–1,Netherlands,Olympiastadion,"Munich, West Germany",78200.0
12,1986,Argentina,3–2,West Germany,Estadio Azteca,"Mexico City, Mexico",114600.0
17,2006,Italy,1–1 (a.e.t.) (5–3 pen.),France,Olympiastadion,"Berlin, Germany",69000.0

Above style is cumbersome if you want to use different. use function .'is in'

In [57]:
df[df['Venue'].isin(["Olympiastadion", "Estadio Azteca "])]

,Year,Winners,Score,Runners-up,Venue,Location,Attendance
9,1974,West Germany,2–1,Netherlands,Olympiastadion,"Munich, West Germany",78200.0
17,2006,Italy,1–1 (a.e.t.) (5–3 pen.),France,Olympiastadion,"Berlin, Germany",69000.0

In [55]:
df.head()

,Year,Winners,Score,Runners-up,Venue,Location,Attendance
0,1930,Uruguay,4–2,Argentina,Estadio Centenario,"Montevideo, Uruguay",68346.0
1,1934,Italy,2–1 (a.e.t.),Czechoslovakia,Stadio Nazionale PNF,"Rome, Italy",55000.0
2,1938,Italy,4–2,Hungary,Stade Olympique de Colombes,"Paris, France",45000.0
3,1950,Uruguay,2–1[n 3],Brazil,Maracanã Stadium,"Rio de Janeiro, Brazil",173850.0
4,1954,West Germany,3–2,Hungary,Wankdorf Stadium,"Bern, Switzerland",62500.0

In [64]:
df[df['Venue'].isin(['Olympiastadion', 'Estadio Azteca'])]

,Year,Winners,Score,Runners-up,Venue,Location,Attendance
8,1970,Brazil,4–1,Italy,Estadio Azteca,"Mexico City, Mexico",107412.0
9,1974,West Germany,2–1,Netherlands,Olympiastadion,"Munich, West Germany",78200.0
12,1986,Argentina,3–2,West Germany,Estadio Azteca,"Mexico City, Mexico",114600.0
17,2006,Italy,1–1 (a.e.t.) (5–3 pen.),France,Olympiastadion,"Berlin, Germany",69000.0

In [61]:
df[df['Venue'].isin(['Olympiastadion','Estadio Azteca'])]

,Year,Winners,Score,Runners-up,Venue,Location,Attendance
8,1970,Brazil,4–1,Italy,Estadio Azteca,"Mexico City, Mexico",107412.0
9,1974,West Germany,2–1,Netherlands,Olympiastadion,"Munich, West Germany",78200.0
12,1986,Argentina,3–2,West Germany,Estadio Azteca,"Mexico City, Mexico",114600.0
17,2006,Italy,1–1 (a.e.t.) (5–3 pen.),France,Olympiastadion,"Berlin, Germany",69000.0

In [66]:
df[df['Venue'].isin(['Olympiastadion','Estadio Azteca'])]['Location']

8      Mexico City, Mexico
9     Munich, West Germany
12     Mexico City, Mexico
17         Berlin, Germany
Name: Location, dtype: object

How many countries hosted more than one world cup

In [67]:
df['Location'].value_counts()

Location
Rio de Janeiro, Brazil                 2
Mexico City, Mexico                    2
Rome, Italy                            2
Montevideo, Uruguay                    1
Madrid, Spain                          1
Moscow, Russia                         1
Johannesburg, South Africa             1
Berlin, Germany                        1
Yokohama, Japan                        1
Saint-Denis, France                    1
Pasadena, California, United States    1
Munich, West Germany                   1
Buenos Aires, Argentina                1
London, England                        1
Santiago, Chile                        1
Solna, Sweden                          1
Bern, Switzerland                      1
Paris, France                          1
Lusail, Qatar                          1
Name: count, dtype: int64

In [72]:
#create a list

a = [area.split(',')[-1] for area in df['Location']]

In [73]:
pd.Series(a)

0            Uruguay
1              Italy
2             France
3             Brazil
4        Switzerland
5             Sweden
6              Chile
7            England
8             Mexico
9       West Germany
10         Argentina
11             Spain
12            Mexico
13             Italy
14     United States
15            France
16             Japan
17           Germany
18      South Africa
19            Brazil
20            Russia
21             Qatar
dtype: object

Create a column called  country with above list.

In [88]:
b = pd.Series(a)
df = df.assign(Country = b)

In [89]:
df

,Year,Winners,Score,Runners-up,Venue,Location,Attendance,Country
0,1930,Uruguay,4–2,Argentina,Estadio Centenario,"Montevideo, Uruguay",68346.0,Uruguay
1,1934,Italy,2–1 (a.e.t.),Czechoslovakia,Stadio Nazionale PNF,"Rome, Italy",55000.0,Italy
2,1938,Italy,4–2,Hungary,Stade Olympique de Colombes,"Paris, France",45000.0,France
3,1950,Uruguay,2–1[n 3],Brazil,Maracanã Stadium,"Rio de Janeiro, Brazil",173850.0,Brazil
4,1954,West Germany,3–2,Hungary,Wankdorf Stadium,"Bern, Switzerland",62500.0,Switzerland
5,1958,Brazil,5–2,Sweden,Råsunda Stadium,"Solna, Sweden",49737.0,Sweden
6,1962,Brazil,3–1,Czechoslovakia,Estadio Nacional,"Santiago, Chile",68679.0,Chile
7,1966,England,4–2 (a.e.t.),West Germany,Wembley Stadium,"London, England",96924.0,England
8,1970,Brazil,4–1,Italy,Estadio Azteca,"Mexico City, Mexico",107412.0,Mexico
9,1974,West Germany,2–1,Netherlands,Olympiastadion,"Munich, West Germany",78200.0,West Germany
10,1978,Argentina,3–1 (a.e.t.),Netherlands,Estadio Monumental,"Buenos Aires, Argentina",71483.0,Argentina
11,1982,Italy,3–1,West Germany,Santiago Bernabéu,"Madrid, Spain",90000.0,Spain
12,1986,Argentina,3–2,West Germany,Estadio Azteca,"Mexico City, Mexico",114600.0,Mexico
13,1990,West Germany,1–0,Argentina,Stadio Olimpico,"Rome, Italy",73603.0,Italy
14,1994,Brazil,0–0 (a.e.t.) (3–2 pen.),Italy,Rose Bowl,"Pasadena, California, United States",94194.0,United States
15,1998,France,3–0,Brazil,Stade de France,"Saint-Denis, France",80000.0,France
16,2002,Brazil,2–0,Germany,International Stadium,"Yokohama, Japan",69029.0,Japan
17,2006,Italy,1–1 (a.e.t.) (5–3 pen.),France,Olympiastadion,"Berlin, Germany",69000.0,Germany
18,2010,Spain,1–0 (a.e.t.),Netherlands,Soccer City,"Johannesburg, South Africa",84490.0,South Africa
19,2014,Germany,1–0 (a.e.t.),Argentina,Maracanã Stadium,"Rio de Janeiro, Brazil",74738.0,Brazil
20,2018,France,4–2,Croatia,Luzhniki Stadium,"Moscow, Russia",78011.0,Russia
21,2022,Argentina,3–3 (a.e.t.) (4–2 pen.),France,Lusail Stadium,"Lusail, Qatar",88966.0,Qatar

In [90]:
df['Country'].value_counts()

Country
France           2
Brazil           2
Mexico           2
Italy            2
Uruguay          1
Spain            1
Russia           1
South Africa     1
Germany          1
Japan            1
United States    1
West Germany     1
Argentina        1
England          1
Chile            1
Sweden           1
Switzerland      1
Qatar            1
Name: count, dtype: int64

In [91]:
df.head()

,Year,Winners,Score,Runners-up,Venue,Location,Attendance,Country
0,1930,Uruguay,4–2,Argentina,Estadio Centenario,"Montevideo, Uruguay",68346.0,Uruguay
1,1934,Italy,2–1 (a.e.t.),Czechoslovakia,Stadio Nazionale PNF,"Rome, Italy",55000.0,Italy
2,1938,Italy,4–2,Hungary,Stade Olympique de Colombes,"Paris, France",45000.0,France
3,1950,Uruguay,2–1[n 3],Brazil,Maracanã Stadium,"Rio de Janeiro, Brazil",173850.0,Brazil
4,1954,West Germany,3–2,Hungary,Wankdorf Stadium,"Bern, Switzerland",62500.0,Switzerland

Find the percentage of games that went to extra time.

In [94]:
df[df['Score'].apply(lambda x: 'a.e.t' in x)]

,Year,Winners,Score,Runners-up,Venue,Location,Attendance,Country
1,1934,Italy,2–1 (a.e.t.),Czechoslovakia,Stadio Nazionale PNF,"Rome, Italy",55000.0,Italy
7,1966,England,4–2 (a.e.t.),West Germany,Wembley Stadium,"London, England",96924.0,England
10,1978,Argentina,3–1 (a.e.t.),Netherlands,Estadio Monumental,"Buenos Aires, Argentina",71483.0,Argentina
14,1994,Brazil,0–0 (a.e.t.) (3–2 pen.),Italy,Rose Bowl,"Pasadena, California, United States",94194.0,United States
17,2006,Italy,1–1 (a.e.t.) (5–3 pen.),France,Olympiastadion,"Berlin, Germany",69000.0,Germany
18,2010,Spain,1–0 (a.e.t.),Netherlands,Soccer City,"Johannesburg, South Africa",84490.0,South Africa
19,2014,Germany,1–0 (a.e.t.),Argentina,Maracanã Stadium,"Rio de Janeiro, Brazil",74738.0,Brazil
21,2022,Argentina,3–3 (a.e.t.) (4–2 pen.),France,Lusail Stadium,"Lusail, Qatar",88966.0,Qatar

In [95]:
len(df[df['Score'].apply(lambda x: 'a.e.t' in x)])

8

In [98]:
# To find the percentage of matches that had extrra time.

np.round((len(df[df['Score'].apply(lambda x: 'a.e.t' in x)]) / len(df) * 100),2)

36.36

In [108]:
# How many go to penalties
len(df[df['Score'].apply(lambda x: 'pen.' in x)])

3

In [113]:
np.round((len(df[df['Score'].apply(lambda x: 'pen' in x)]) / len(df[df['Score'].apply(lambda x: 'a.e.t' in x)]) * 100),2)

37.5

Average attendance

In [114]:
df['Attendance'].drop(3).mean()

77138.66666666667

Runners up

In [115]:
df['Runners-up'].value_counts()

Runners-up
Argentina         3
West Germany      3
Netherlands       3
Czechoslovakia    2
Hungary           2
Brazil            2
Italy             2
France            2
Sweden            1
Germany           1
Croatia           1
Name: count, dtype: int64

Winners of club world.

In [116]:
df['Winners'].value_counts()

Winners
Brazil          5
Italy           4
West Germany    3
Argentina       3
Uruguay         2
France          2
England         1
Spain           1
Germany         1
Name: count, dtype: int64